{% load static %}
<!-- 
    <h3>hello world</h3>

-->
<!DOCTYPE html>
<html>
    <head>
        <title>Saranya</title>
        <link href="{% static '/css/main.css' %} rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    </head>
    <body>
        <div class="container">
        <div class="row">
            <div class="col-md-3"id="profile-wrapper">
                <div class="card card-body">
                    <img id="profile-pic" src="{% static 'C:\Users\dell\mywebsite\staticfiles\images\saranya.jpg' %}">
                    <br>
                    <h4>Hai,Iam Saranya!</h4>
                    <p>I love django,python,travelling ,web research and photography</p>

                </div>

            </div>
            <div class="col-md-9">
            <div class="card card-body">
                <h4>My first job as a software intern</h4>
                <h5><b>Getfyt Technologies</b></h5>
                <p>It was three months since , I joined <b>getfyt technologies</b>.My team is sweet and simple.<i>Mr John </i>is the CTO.<i>Mr Anif zarus</i> is front end developer.Both of them taught many stuffs related to programming and design concepts.I never thought I would learn those stuffs soon.
                I learnt git,github,css, html,bootstrap etc.
                    
             I also worked in some data collection of gyms in seven cities of india for getfyt.
             My team leader shared me a lot of django stuffs and links.He explained me the entire architecture of an aggregator models and how things work .
             
             After spending some amount of time ,I understood the basic working of django.Anif  taught me front end technologies.
             I understood the fact that everything seems to be tough or impossible before we learn it.And Iam on my way to learn stuffs and things.      
                </p>
                <ul class="social-links">
                    <li><img class="social" src="{% static 'C:\Users\dell\mywebsite\staticfiles\images\20fb.png'%}"></li>         
                    <li><img class="social" src="{% static 'C:\Users\dell\mywebsite\staticfiles\images\lkd.png' %}"></li>
        
                </ul>
            </div>
        </div><br>
        <div class="row">
            <div class="col-md-6">
                <div class="card card-body"><h5><b>My Experience as a software intern</b></h5>
                    <p>Iam supposed to learn django.Django is based on <b>MODEL VIEW TEMPLATE(MVT).</b>
                    As an intern,am very much worried about how I will learn things soon.But with proper guidance ,I learnt stuffs soon.I  tried to design a website using css,html and bootstrap.I collected list of gyms in  tier1 and tier2 cities of india for b2b phase. My short term goal is to do a micro service in django.</p>
                </div></div>
        <div class="row">
            <div class="col-md-6">
                <div class="card card-body"><h5><b>What I know</b></h5>
                    <p>Python,django,css,html,bootstrap(basic and intermediate level)</p>
                    <p>Trying to build micro service in django.Trying to learn aws and react native.</p>
                    <p>Web researcher</p>
</div></div></div><br>
        <div class="row">
                    <div class="col-md-6">
                        <div class="card card-body"><h5><b>How I learn</h5></b>
                            <p>At first I built very ugly websites.I learnt stuffs from my team lead's udemy acocunt.I see videos in youtube and learnt things.I will put hands-on for my experience if needed.I will solve quiz and puzzles If Iam very much bored.</p>
                            Each documentation is a reference for us.I surf many websites initally to find out how things work.
                        </div></div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="card card-body">
                            <h5><b>My short term goals</b></h5>
                            <br>
                            <p>Initailly I have 3.5 years of Experience as a web Analyst .But since june 2019 ,I started to switch my job domain towards IT(my core) learnt python.As soon as I got internship in  Getfyt,its time for me to learn new things.
                             I want to learn multiple skills and i want to be assigned different responsiblities which suits my skill.Each of my short term goal contribute toward my long term goal.</p> 
                            </p>

                        </div></div></div><br>           
    </body>
</html>